 <div class="brand-level">
   
     <h2>Branch Name</h2>
     
     <p>Branch Description</p>
     <div class="droppable-area">
      <ul class="set-permission-group">
        <li></li>
      </ul>
      <div class="clear-floats"></div></div>

     
</div>
