<div class="hero-unit">
	 <% @clients.each do |c| %>
     
     <%= image_tag c.photo.url %><h2><%= c.name%></h2>
     
     <p><%= c.description %></p>
     <div class="droppable-area">
      <ul class="set-permission-group">
        <li></li>
      </ul>
      <div class="clear-floats"></div></div>

     <%end%>
</div>