
<div class="fill-all container-fluid">
	<div class="row-fluid">
         <%= render 'layouts/sidebar'%>

    	<div class="span" id="content">
     		
     			<div class="span11">


				  	 		 <%= render 'layouts/setuptabs'%>
					  
						
							<% if @clients.count > 0 %>
								<%= render 'showclient' %>
							<%else%>
							<div class="hero-unit">
								<%= render 'form' %>
							   <h1>Create a Client</h1>
									<p>Establish your company</p>
									<p>
										<button class="btn btn-primary" data-toggle="modal" href="#client">Create Client</button>	
									</p>
							</div>
							<%end%>		

				</div> <!-- END SPAN11 -->


        </div> <!-- END SPAN CONTENT -->

    </div>
</div>
