
<div class="container-fluid">
  <div class="row-fluid">
  	<%= render 'layouts/sidebar'%>

    <div class="span8">
	  <div class="well row-fluid">	 	
 		<legend><h2>Add Company</h2></legend>
		<br>
		<%= render 'form' %>
	  </div>
	</div>
  </div>
</div>


