<div class="container-fluid">
  <div class="row-fluid">
  	<%= render 'layouts/sidebar'%>
    <div class="span8">
	  <div class="well row-fluid">	 	
 		<h2>View Information</h2>
		<br>
		<p>Name: <%= @user_role.name %></p>
		<%= link_to 'Edit', edit_user_role_path(@user_role), :class => "btn btn-inverse" %> <%= link_to 'Back', user_roles_path, :class => "btn btn-inverse" %>
	  </div>
	</div>
  </div>
</div>