
						  <!-- PERMISSION CONTENT START -->
						<div id="application-area" class="row-fluid">
						   <div id="content-section" class="span10">
						   	<div id="user-permissions-container">
						       	<div id="users-area" class="span2">
						           	<div id="draggable-section">
						               	<ul>
						               	 <li><p><strong>Allen Oliver M. Chun</strong></p><img src="images/users/allen-chun.jpg" width="78" height="78" style="border:1px solid white; margin:0;" /></li>
						                   	<li><p><strong>Mark Aventura</strong></p><img src="images/users/mark-aventura.jpg" width="78" height="78" style="border:1px solid white; margin:0;" /></li>
						                   	<li><p><strong>Reynan Albaredo</strong></p><img src="images/users/reynan-albaredo.jpg" width="78" height="78" style="border:1px solid white; margin:0;" /></li>
						                   	<li><p><strong>James Dela Cruz</strong></p><img src="images/users/james-dela-cruz.jpg" width="78" height="78" style="border:1px solid white; margin:0;" /></li>
						                   	<li><p><strong>Charlene Taw</strong></p><img src="images/users/charlene-taw.jpg" width="78" height="78" style="border:1px solid white; margin:0;" /></li>
						                   </ul>
						               </div>
						           </div>
						           <div id="permissions-area" class="span8">
						           	<div class="permissions-container">
						                   <div id="client-level" class="permission-level">
						                       <h2>Client Level</h2>
						                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in neque sem. Suspendisse potenti. Nulla porttitor bibendum nulla, eget aliquet orci varius sit amet.</p>
						                       <div class="droppable-area"><ul class="set-permission-group"></ul><div class="clear-floats"></div></div>
						                   </div>
						                   <div id="brand-level" class="permission-level">
						                       <h3>Brand Level</h3>
						                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in neque sem. Suspendisse potenti. Nulla porttitor bibendum nulla, eget aliquet orci varius sit amet.</p>
						                       <div class="droppable-area"><ul class="set-permission-group"></ul><div class="clear-floats"></div></div>
						                       <div id="branch-level" class="permission-level branch">
						                           <h4>Branch Level</h4>
						                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in neque sem. Suspendisse potenti. Nulla porttitor bibendum nulla, eget aliquet orci varius sit amet.</p>
						                           <div class="droppable-area"><ul class="set-permission-group"></ul><div class="clear-floats"></div></div>
						                   	</div>
						                       <div id="branch-level" class="permission-level branch">
						                           <h4>Branch Level</h4>
						                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in neque sem. Suspendisse potenti. Nulla porttitor bibendum nulla, eget aliquet orci varius sit amet.</p>
						                           <div class="droppable-area"><ul class="set-permission-group"></ul><div class="clear-floats"></div></div>
						                   	</div>
						                       <div id="branch-level" class="permission-level branch">
						                           <h4>Branch Level</h4>
						                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in neque sem. Suspendisse potenti. Nulla porttitor bibendum nulla, eget aliquet orci varius sit amet.</p>
						                           <div class="droppable-area"><ul class="set-permission-group"></ul><div class="clear-floats"></div></div>
						                   	</div>
						                   </div>
						               </div>
						           </div>
						       </div>
						   </div>
						</div>
						<!-- END PERMISSION -->		