
<div class="fill-all container-fluid">
	<div class="row-fluid">
         <%= render 'layouts/sidebar'%>

    	<div class="span" id="content">
     		
     			<div class="span11">


				  	<%= render 'layouts/setuptabs'%>


					<%= render 'showPermission'%>


				</div> <!-- END SPAN11 -->


        </div> <!-- END SPAN CONTENT -->

    </div>
</div>
