body, html, #sub-menu-section, #content-section, #application-area{height:100%;}
.clear-floats{clear:both;}

/*structure*/
.main-navigation-container{
	padding-left:10px;
	padding-right:10px;
}
#left-sub-menu{
	position:absolute;
	top:50px;
	height: 100%;
	left:0;
	bottom:0;
	width:220px;
	padding:10px 0 70px 0;
	background-color:#61B0E9;
}
ul.sidebar{
	padding:0;
	margin:0;
}
ul.sidebar li{
	list-style:none;
	width:220px;
	padding:0;
	margin:0;
	position:relative;
}
ul.sidebar li a{
	padding:10px 30px 10px 30px;
	display:block;
	color:white;
}
ul.sidebar li a:hover{
	background-color:#6bbef6;
	text-decoration:none;
}
ul.sidebar li.inactive div{
	position:relative;
	background-color:#61B0E9;
	color:white;
	
}
ul.sidebar li.active div{
	position:relative;
	background-color:white;
}
ul.sidebar li.active div a{
	color:black;
}
/***********/

.top-header{
	height:60px;
	background-color:#000000;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.90);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.90);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.90);
	position:relative;
	z-index:100;
}


#fliptrip-login{
	display:none;
	padding-top: 60px;
	height: 280px;
}

#fliptrip-join{
	display:none;
	padding-top: 60px;
	height: 350px;
}

#fliptrip-forgot{
	display:none;
	padding-top: 60px;
	height: 250px;
}

#fliptrip-confirm{
	display:none;
	padding-top: 60px;
	height: 250px;
}

.login-container{
	padding:40px 20px 20px 20px;
	margin-top:20px;
	width:700px;
	min-height:300px;
	margin:0 auto;
}
ul.navigation-items{
	float:right;
	margin-top:10px;
	padding-right:20px;
}
ul.navigation-items li{
	float:left;
	padding:10px;
	margin-left:5px;
	list-style:none;
	color:white;
	font-size:14px;
	font-weight:bold;
}

.text-label{
    color:#e0e0e0;
}
input{
	width:400px;
}