 <div id="client-level" class="brand-level">
     <% @brands.each do |b| %>
     
     <h2><%= b.name%></h2>
     
     <p><%= b.description %></p>
     <div class="droppable-area">
      <ul class="set-permission-group">
        <li></li>
      </ul>
      <div class="clear-floats"></div></div>

     <%end%>
</div>
