

	<!-- start header -->
	<div id="main-navbar" class="navbar">
 		 <div class="navbar-inner">
			<div class="container-fluid">
	 			 <%= link_to "RESTOBOT", root_path, :class => "brand" %>
	  <div class="pull-right">
		<ul class="nav nav-pills">
			<li><a href="javascript:{}" data-section="2" class="link-transit" id="join-button">Join</a></li>
			<li><a href="javascript:{}" data-section="3" class="link-transit" id="login-button">Login</a></li>
	  </div>
		  
	    </div>
	  </div>
	</div>
	<!-- end header -->

	
	  