  <ul class="nav nav-tabs">
                <li
                	<% if current_page?(clients_path) %> 	
                        class="active"  
                    <% elsif current_page?(setup_path) %>     
                        class="active"  
                    <%end%> 
                    ><%= link_to "Company", clients_path %></li>
                <li
                	<%if current_page?(brands_path) %> 
                    	class="active"  
                    	<%end%>
                      ><%= link_to "Brands and Branches", brands_path %></li>
              
                <li
                	<%if current_page?(permissions_path) %> 
                    	class="active"  
                    	<%end%>
                	  ><%= link_to "Permissions", permissions_path%></li>
  </ul>