<div id="left-sub-menu" class="span fixed">
          <ul class="sidebar">
                <li class="active"><div class="sub-menu-item"><a href="#">Company</a></div></li>
                <li class="inactive"><div class="sub-menu-item"><a href="#">Company</a></div></li>
                <li class="inactive"><div class="sub-menu-item"><a href="#">Company</a></div></li>
                <li class="inactive"><div class="sub-menu-item"><a href="#">Company</a></div></li>
                <li class="inactive"><div class="sub-menu-item"><a href="#">Company</a></div></li>
                <li class="inactive"><div class="sub-menu-item"><a href="#">Company</a></div></li>
                <li class="inactive"><div class="sub-menu-item"><a href="#">Company</a></div></li>
                <li class="inactive"><div class="sub-menu-item"><a href="#">Company</a></div></li>
            </ul>
</div>

