<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <legend><h3>SETUP</h3></legend>
      <li class="nav-header">Users</li>
      <li><%= link_to "Company", companies_path %></li>
      <li><%= link_to "Restaurant", restaurants_path %></li>
      <li><%= link_to "Branch", branches_path %></li>
      <li><%= link_to "User Accounts", users_path %></li>
      <li><a href="#">Firebug</a></li>
      <li class="nav-header">Backend</li>
      <li><a href="#">PHP</a></li>
      <li><a href="#">SQL</a></li>
      <li><a href="#">MySQL</a></li>
      <li><a href="#">PostgreSQL</a></li>
      <li><a href="#">MongoDB</a></li>
     </ul>
  </div>
</div>